@font-face {
	font-family: 'Fira Code VF';
	src: url('/FiraCode-VF.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Fira Code VF';
	background-color: #1e1e2e;
}